
[submodule "extern/eliott-audio"]
	path = extern/eliott-audio
	url = https://github.com/Lomiredos/eliott-audio
[submodule "extern/eliott-ecs"]
	path = extern/eliott-ecs
	url = https://github.com/Lomiredos/eliott-ecs
[submodule "extern/eliott-input"]
	path = extern/eliott-input
	url = https://github.com/Lomiredos/eliott-input
[submodule "extern/eliott-math"]
	path = extern/eliott-math
	url = https://github.com/Lomiredos/eliott-math
[submodule "extern/eliott-physics"]
	path = extern/eliott-physics
	url = https://github.com/Lomiredos/eliott-physics
[submodule "extern/eliott-renderer"]
	path = extern/eliott-renderer
	url = https://github.com/Lomiredos/eliott-renderer
[submodule "extern/eliott-tmx-parser"]
	path = extern/eliott-tmx-parser
	url = https://github.com/Lomiredos/eliott-tmx-parser
